body{
    background: black;
    color: white;
}
.hero{
    width: 100%;
    height: 600px;
    position: absolute;
    text-align: center;
    
    
}
.hero_content{
    background: none;
    color: white;
    margin-bottom:150px;
    position: absolute;
    bottom:100px ;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    text-decoration: double;
    text-overflow: clip;
}
.herobtn{
    position: relative;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    bottom: 200px;   
    
}

.btnp{
    padding: 5px 15px;
    margin: 5px;
    justify-content: space-evenly;
    background-color: black;
    color:white;
    font-weight: 900;
    box-shadow:2px 4px 4px 1px green ;
    border: none;

}
.btnS{
    padding: 5px 10px;
    margin: 5px;
    background-color: black;
    color:white;
    font-weight: 900;
     box-shadow:2px 4px 4px 1px green ;
    border: none;

}