.hero{
    width: 100%;
    height: 600px;
    position: absolute;
    text-align: center;
    
    
}
.hero_content{
    background: none;
    color: rgb(5, 5, 5);
    margin-bottom:150px;
    position: absolute;
    bottom:100px ;
}
.herobtn{
    position: relative;
    justify-items: center;
    align-items: center;
    bottom: 200px;
    
    

}